name: AWS ECS Deploy
on:
  push:
    branches:
      - "main"
      - "dockerbuild_release"

permissions:
  id-token: write
  contents: read

concurrency:
  group: dbo-dd
  cancel-in-progress: true

jobs:
  call-workflow-aws-ecs-deploy:
    name: Call Workflow - Docker Build & Push / AWS ECS Deployment
    uses: ./.github/workflows/reusable-aws-ecs-deploy-workflow.yml
    with:
      project: 'dsbizdev'
      env: "dev"
      docker-context: '.'
      docker-file: './infra/docker/develop/php/Dockerfile'
      docker-build-args: ''
      aws-role-to-assume: 'arn:aws:iam::588738584619:role/dsbizdev-github-actions-ecs-deployment-dev'
      aws-region: "ap-northeast-1"
      aws-ecs-cluster-name: "dbo-cluster"
      aws-ecs-namespace: "dbo"
      aws-ecs-service-name: "dd"
      aws-ecs-task-definition-filepath: "./infra/ecs-task.json"
      aws-ecs-task-definition-container-name: ''
      aws-ecs-task-definition-environment-variables: ''
      aws-ecs-task-definition-secrets: ''
      aws-ecs-desired-count: 1
      aws-ecs-wait-for-service-stability: false
    secrets: inherit
